/* Author: Michael Hawes
   Date: 22 December 2016 */


html,
body,
div {
  width: 100%;
  height: 100%;
  margin: 0px;
}


.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#one {
  background-image: url("../img/landscape.jpg");
}
#two {
    background-image: url("../img/mountain.jpg");
}
#three {
    background-image: url("../img/river.jpg");
}
#four {
    background-image: url("../img/prairie.jpg");
}
